<div class="container">
<app-admin-sidebar></app-admin-sidebar>

<div class="content">

    <div class="profile-card">
    <div class="profile-img-container">
        <div class="circle-frame">
        <img src="assets/images/admin_profile.jpg" alt="Admin Profile">
        </div>
    </div>

    <div class="info-fields">
        <div class="field-group">
        <label>FULL NAME (LAST NAME, FIRST NAME, M.I.)</label>
        <div class="input-wrapper">
            <input value="Alvarez, James Jason, R. PHD." disabled />
        </div>
        </div>

        <div class="field-group">
        <label>AGE</label>
        <input value="26 years old" disabled />
        </div>

        <div class="field-group">
        <label>SEX</label>
        <input value="Male" disabled />
        </div>

        <div class="field-group">
        <label>EMAIL</label>
        <input value="jamesja45620@liceo.edu.ph" disabled />
        </div>

        <div class="field-group">
        <label>PHONE</label>
        <input value="+63 9523004572" disabled />
        </div>
    </div>
    </div>
</div>
</div>