<div class="sidebar">
    <div class="logo">
    <img src="assets/images/LDCULogo.png" alt="Logo">
    <h2>LICEO SCHOLAR</h2>
    </div>

<ul>
    <li routerLink="/admin-dashboard" routerLinkActive="active">
        Dashboard
    </li>

    <li routerLink="/admin-students-list" routerLinkActive="active">
    Student List
    </li>

    <li routerLink="/admin-profile" routerLinkActive="active">
    Profile
    </li>
</ul>


    <div class="logout" routerLink="/" routerLinkActive="active"> <!--logout enable-->
        Logout
    </div>
</div>