html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  overflow: hidden;
}

.login-container {
  display: flex;
  flex-direction: horizontal;        
  align-items: center;           
  text-align: center;
  width: 100vw;
  height: 100vh;

  box-sizing: border-box;

  background-image: url('/assets/images/background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  background-color: #860B11;
}
.logo{
  width: 400px;
  height: auto;
  margin-bottom: 20px;
}
section {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}
h1 {
  margin: 0;
  font-size: 3em;
  color: white;
  font-family: 'Times New Roman', Times, serif;
}

/* duplicate section rule already defined above */


.app-login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}


.forms {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  width: 100%;
}

