
<div class="login-container">
  <section>
    
    <img src="assets/images/LDCULogo.png" alt="Liceo Logo" class="logo">
    <h1>LICEO SCHOLAR</h1>
  </section>
 <div class="forms">
   
   <div class="app-login-form">
      <app-switch-form (modeChange)="onModeChange($event)"></app-switch-form>
      
      <app-login-form
         *ngIf="mode() === 'login'"
         [email]="email()"
         [password]="password()"
         (onsubmit)="handleSubmitClicked()"
         (onforget)="mode.set('forget')">
      </app-login-form>

      <app-forget-pass
         *ngIf="mode() === 'forget'"
         (onback)="mode.set('login')">
      </app-forget-pass>

      <app-signup-form
         *ngIf="mode() === 'signup'"
         (onsubmit)="handleSubmitClicked()">
      </app-signup-form>
     
    </div>
 </div>
 
  
</div>