<div class="admin-container">
<app-admin-sidebar></app-admin-sidebar>

<div class="main-content">

    <div class="search-wrapper">
    <input type="text" placeholder="Search" [(ngModel)]="searchTerm">
    
    <button class="filter-btn" (click)="toggleFilter()">
        <span class="material-icons">filter_list</span>
    </button>

     <div class="filter-overlay" *ngIf="isFilterOpen">
        <div class="filter-row">
            <label>Course</label>
            <select [(ngModel)]="filters.course">
                <option value="">---</option>
                <option value="CISCO BSIT 2-1">CISCO BSIT 2-1</option>
            </select>
        </div>

        <div class="filter-row">
            <label>Year Level</label>
            <select [(ngModel)]="filters.yearLevel">
                <option value="">---</option>
                <option value="Second Year">Second Year</option>
            </select>
        </div>

        <div class="filter-row">
            <label>Type of Scholarship</label>
            <select [(ngModel)]="filters.scholarship">
                <option value="">---</option>
                <option value="Academic Scholarship">Academic Scholarship</option>
                <option value="Non-Academic Scholar..">Non-Academic Scholar..</option>
            </select>
        </div>

        <div class="filter-row">
            <label>Status</label>
            <select [(ngModel)]="filters.status">
                <option value="Pending">Pending</option>
                <option value="Approved">Approved</option>
                <option value="Rejected">Rejected</option>
                <option value="Finished">Finished</option>
            </select>
        </div>

        <div class="filter-actions">
            <button class="btn-cancel" (click)="toggleFilter()">Cancel</button>
            <button class="btn-save" (click)="toggleFilter()">Save</button>
        </div>
</div>

    <div class="student-table">
    <div class="thead">
        <span>Last Name, First Name, MI.</span>
        <span>Course & Yr Level</span>
        <span>Scholarship Type</span>
        <span>Requirements</span>
    </div>

    <div class="tbody-container">
        
        <div class="trow" *ngFor="let student of filteredStudents(); let i = index">
        
        <span class="name-cell clickable" (click)="onSelectStudent(student)">
            <span class="indicator" [ngClass]="student.status.toLowerCase()"></span>
            {{ student.name }}
        </span>

        <span>{{ student.course }}</span>
        <span>{{ student.scholarshipType }}</span>
        
        <span class="status-selector">
            <button (click)="toggleDropdown(i); $event.stopPropagation()" [ngClass]="student.status.toLowerCase()">
                {{ student.status }} ▾
            </button>
            
            <div class="dropdown-menu" *ngIf="openDropdownIndex === i">
                <div (click)="updateStatus(student, 'Pending')" class="text-pending">Pending</div>
                <div (click)="updateStatus(student, 'Approved')" class="text-approved">Approved</div>
                <div (click)="updateStatus(student, 'Rejected')"class="text-rejected">Rejected</div>
                <div (click)="updateStatus(student, 'Finished')"class="text-finished">Finished</div>
            </div>
        </span>
    </div>
        </div>
    </div>
    </div>
</div>