<div class="filter-overlay">
  <div class="filter-modal">

    <div class="filter-group">
      <label>Course</label>
      <select [(ngModel)]="filters.course">
        <option value="">---</option>
        <option>CISCO BSIT 2-1</option>
      </select>
    </div>

    <div class="filter-group">
      <label>Year Level</label>
      <select [(ngModel)]="filters.yearLevel">
        <option value="">---</option>
        <option>Second Year</option>
      </select>
    </div>

    <div class="filter-group">
      <label>Type of Scholarship</label>
      <select [(ngModel)]="filters.scholarship">
        <option value="">---</option>
        <option>Academic Scholarship</option>
        <option>Non-Academic Scholarship</option>
      </select>
    </div>

    <div class="filter-group">
      <label>Status</label>
      <select [(ngModel)]="filters.status">
        <option value="">---</option>
        <option>Complete</option>
        <option>Missing</option>
      </select>
    </div>

    <div class="actions">
      <button class="cancel" (click)="onCancel()">Cancel</button>
      <button class="save" (click)="onApply()">Save</button>
    </div>

  </div>
</div>