<div class="container">
    <app-user-sidebar></app-user-sidebar>

    <div class="content">
    <h2>Student Profile</h2>

    <div class="profile-section">

        <div class="info">
        <label>Last Name, First Name, MI</label>
        <input value="OLIVEROS, SAMANTHA GAYLE R." disabled />

        <label>Course</label>
        <input value="CISCO BSIT" disabled />

        <label>Year Level</label>
        <input value="2ND YEAR" disabled />

        <label>Age</label>
        <input value="18 YEARS OLD" disabled />

        <label>Sex</label>
        <input value="FEMALE" disabled />

        <label>Scholarship Type</label>
        <input value="ACADEMIC SCHOLARSHIP (FULL SCHOLAR)" disabled />
        </div>

        <div class="profile-img">
        <img src="assets/images/profile.jpg" alt="Profile">
        </div>
    </div>


    <table>
    <thead>
    <tr>
        <th>Requirements</th>
        <th>Status</th>
        <th>Submitted Date</th>
        </tr>
    </thead>
    <tbody>
        <tr>
        <td>FORM 138</td>
        <td class="completed">COMPLETED</td>
        <td>04/23/2025</td>
        </tr>
        <tr>
        <td>COMPLETE GRADES</td>
        <td class="completed">COMPLETED</td>
        <td>04/23/2025</td>
        </tr>
    </tbody>
    </table>
        </div>

        
</div>